.split {
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding: 3px
}

.left {
	left: 0;
}

.left>div {
	padding: 0 12px;
}

.right {
	right: 0;
	/*padding: 10px;*/
}

.input-textarea {
	padding: 5px;
	margin: 10px;
	min-height: 150px;
	max-height: 30%;
	max-width: 95%;
	width: 95%;
}

.grid>div {
	position: relative;
}

.grid>div:before {
	display: table;
	padding-top: 100%;
	content: '';
}

.e {
	background: #eae2b7;
	/*border-width: 1px 1px 1px 1px;*/
	box-shadow: inset -1px 0 0 black, inset 0 -1px 0 black, inset 1px 0 0 black, inset 0 1px 0 black;
}


/* dx, sotto, sx, su */

.x {
	background: #7c7c7c;
	/*border-width: 1px 1px 1px 1px;*/
	box-shadow: inset -1px 0 0 black, inset 0 -1px 0 black, inset 1px 0 0 black, inset 0 1px 0 black;
}

.l {
	background: #fcbf49;
}

.l11 {
	/*border-width: 1px 1px 0 1px;*/
	box-shadow: inset -1px 0 0 black, inset 0 0 0 black, inset 1px 0 0 black, inset 0 1px 0 black;
}

.l12 {
	/*border-width: 0 0 1px 1px;*/
	box-shadow: inset 0 0 0 black, inset 0 -1px 0 black, inset 1px 0 0 black, inset 0 0 0 black;
}

.l13 {
	/*border-width: 1px 1px 1px 0;*/
	box-shadow: inset -1px 0 0 black, inset 0 -1px 0 black, inset 0 0 0 black, inset 0 1px 0 black;
}

.l21 {
	/*border-width: 1px 1px 1px 0;*/
	box-shadow: inset -1px 0 0 black, inset 0 -1px 0 black, inset 0 0 0 black, inset 0 1px 0 black;
}

.l22 {
	/*border-width: 1px 0 0 1px;*/
	box-shadow: inset 0 0 0 black, inset 0 0 0 black, inset 1px 0 0 black, inset 0 1px 0 black;
}

.l23 {
	/*border-width: 0 1px 1px 1px;*/
	box-shadow: inset -1px 0 0 black, inset 0 -1px 0 black, inset 1px 0 0 black, inset 0 0 0 black;
}

.l31 {
	/*border-width: 0 1px 1px 1px;*/
	box-shadow: inset -1px 0 0 black, inset 0 -1px 0 black, inset 1px 0 0 black, inset 0 0 0 black;
}

.l32 {
	/*border-width: 1px 1px 0 0;*/
	box-shadow: inset -1px 0 0 black, inset 0 0 0 black, inset 0 0 0 black, inset 0 1px 0 black;
}

.l33 {
	/*border-width: 1px 0 1px 1px;*/
	box-shadow: inset 0 0 0 black, inset 0 -1px 0 black, inset 1px 0 0 black, inset 0 1px 0 black;
}

.l41 {
	/*border-width: 1px 0 1px 1px;*/
	box-shadow: inset 0 0 0 black, inset 0 -1px 0 black, inset 1px 0 0 black, inset 0 1px 0 black;
}

.l42 {
	/*border-width: 0 1px 1px 0;*/
	box-shadow: inset -1px 0 0 black, inset 0 -1px 0 black, inset 0 0 0 black, inset 0 0 0 black;
}

.l43 {
	/*border-width: 1px 1px 0 1px;*/
	box-shadow: inset -1px 0 0 black, inset 0 0 0 black, inset 1px 0 0 black, inset 0 1px 0 black;
}

.s {
	background-color: #f77f00;
}

.s11 {
	/*border-width: 1px 0 0 1px;*/
	box-shadow: inset 0 0 0 black, inset 0 0 0 black, inset 1px 0 0 black, inset 0 1px 0 black;
}

.s12 {
	/*border-width: 1px 1px 0 0;*/
	box-shadow: inset -1px 0 0 black, inset 0 0 0 black, inset 0 0 0 black, inset 0 1px 0 black;
}

.s13 {
	/*border-width: 0 0 1px 1px;*/
	box-shadow: inset 0 0 0 black, inset 0 -1px 0 black, inset 1px 0 0 black, inset 0 0 0 black;
}

.s14 {
	/*border-width: 0 1px 1px 0;*/
	box-shadow: inset -1px 0 0 black, inset 0 -1px 0 black, inset 0 0 0 black, inset 0 0 0 black;
}

.r {
	background-color: #d62828;
}

.r11 {
	/*border-width: 1px 0 1px 1px;*/
	box-shadow: inset 0 0 0 black, inset 0 -1px 0 black, inset 1px 0 0 black, inset 0 1px 0 black;
}

.r12 {
	/*border-width: 1px 0 1px 0;*/
	box-shadow: inset 0 0 0 black, inset 0 -1px 0 black, inset 0 0 0 black, inset 0 1px 0 black;
}

.r13 {
	/*border-width: 1px 1px 1px 0;*/
	box-shadow: inset -1px 0 0 black, inset 0 -1px 0 black, inset 0 0 0 black, inset 0 1px 0 black;
}

.r21 {
	/*border-width: 1px 1px 0 1px;*/
	box-shadow: inset -1px 0 0 black, inset 0 0 0 black, inset 1px 0 0 black, inset 0 1px 0 black;
}

.r22 {
	/*border-width: 0 1px 0 1px;*/
	box-shadow: inset -1px 0 0 black, inset 0 0 0 black, inset 1px 0 0 black, inset 0 0 0 black;
}

.r23 {
	/*border-width: 0 1px 1px 1px;*/
	box-shadow: inset -1px 0 0 black, inset 0 -1px 0 black, inset 1px 0 0 black, inset 0 0 0 black;
}