.split {
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding: 3px
}

.left {
	left: 0;
}

.left>div {
	padding: 0 12px;
}

.right {
	right: 0;
}

.input-textarea {
	padding: 5px;
	margin: 10px;
	min-height: 150px;
	max-height: 30%;
	max-width: 95%;
	width: 95%;
}

.grid>div {
	position: relative;
}

.grid>div:before {
	display: table;
	padding-top: 100%;
	content: '';
}

.e, .x {
	box-shadow: inset -1px 0 0 black, inset 0 -1px 0 black, inset 1px 0 0 black, inset 0 1px 0 black;
}

.e {
	background: #eae2b7;
}
.x {
	background: #7c7c7c;
}
.l {
	background: #fcbf49;
}
.s {
	background: #f77f00;
}
.r {
	background: #d62828;
}


.l11, .r21, .l43 {
	box-shadow: inset -1px 0 0 black, inset 0 0 0 black, inset 1px 0 0 black, inset 0 1px 0 black;
}

.l12, .s13 {
	box-shadow: inset 0 0 0 black, inset 0 -1px 0 black, inset 1px 0 0 black, inset 0 0 0 black;
}

.l13, .l21, .r13 {
	box-shadow: inset -1px 0 0 black, inset 0 -1px 0 black, inset 0 0 0 black, inset 0 1px 0 black;
}

.l22, .s11 {
	box-shadow: inset 0 0 0 black, inset 0 0 0 black, inset 1px 0 0 black, inset 0 1px 0 black;
}

.l23, .r23, .l31 {
	box-shadow: inset -1px 0 0 black, inset 0 -1px 0 black, inset 1px 0 0 black, inset 0 0 0 black;
}

.l32, .s12 {
	box-shadow: inset -1px 0 0 black, inset 0 0 0 black, inset 0 0 0 black, inset 0 1px 0 black;
}

.l33, .l41, .r11 {
	box-shadow: inset 0 0 0 black, inset 0 -1px 0 black, inset 1px 0 0 black, inset 0 1px 0 black;
}

.l42, .s14 {
	box-shadow: inset -1px 0 0 black, inset 0 -1px 0 black, inset 0 0 0 black, inset 0 0 0 black;
}

.r12 {
	box-shadow: inset 0 0 0 black, inset 0 -1px 0 black, inset 0 0 0 black, inset 0 1px 0 black;
}

.r22 {
	box-shadow: inset -1px 0 0 black, inset 0 0 0 black, inset 1px 0 0 black, inset 0 0 0 black;
}